<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="StockBandit.Server.Properties.Settings.StockBanditConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=StockBandit;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmailFromAddress" value="lewisjharvey@gmail.com" />
    <add key="EmailServer" value="smtp.mse2010.com" />
    <add key="EmailUsername" value="me@lewisjharvey.co.uk" />
    <add key="EmailPassword" value="F1tzroyrobin" />
    <add key="EmailPort" value="587" />
    <add key="EmailSSL" value="False" />
    <add key="EmailRecipient" value="me@lewisjharvey.co.uk" />
    <add key="EnableBollingerBands" value="False" />
    <add key="BandPeriod" value="20" />
    <add key="EnableMACD" value="True" />
    <add key="PriceCheckMinutes" value="1" />
    <add key="EnableVolume" value="True" />
    <add key="AlertThreshold" value="1.5" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ServerBinding" sendTimeout="00:10:00" listenBacklog="1000"
            maxConnections="1000" maxReceivedMessageSize="200000" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServerBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="100"
                             maxConcurrentSessions="20" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServerBehaviour"
               name="StockBandit.Server.BanditService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8005"/>
          </baseAddresses>
        </host>
        <endpoint address="StockBanditServer"
                  binding="netTcpBinding"
                  bindingConfiguration="ServerBinding"
                  contract="StockBandit.Model.IBanditService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
