<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockBandit.Server.Properties.Settings.StockBanditConnectionString"
            connectionString="Data Source=HARTLEY;Initial Catalog=StockBandit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StockBandit.Server.Properties.Settings.StockBanditConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=StockBandit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>