USE [master]
GO
/****** Object:  Database [StockBandit]    Script Date: 03/03/2015 08:51:35 ******/
CREATE DATABASE [StockBandit]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockBandit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockBandit]
GO
/****** Object:  Table [dbo].[DailyPrice]    Script Date: 03/03/2015 08:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyPrice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockCode] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Open] [decimal](19, 4) NOT NULL,
	[High] [decimal](19, 4) NOT NULL,
	[Low] [decimal](19, 4) NOT NULL,
	[Close] [decimal](19, 4) NOT NULL,
	[AdjustedClose] [decimal](19, 4) NOT NULL,
	[Volume] [int] NOT NULL,
 CONSTRAINT [PK_DailyPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stock]    Script Date: 03/03/2015 08:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockCode] [nvarchar](50) NOT NULL,
	[StockName] [nvarchar](255) NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_Stock_Active]  DEFAULT ((0)),
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[StockCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DailyPrice]  WITH CHECK ADD  CONSTRAINT [FK_DailyPrice_Stock] FOREIGN KEY([StockCode])
REFERENCES [dbo].[Stock] ([StockCode])
GO
ALTER TABLE [dbo].[DailyPrice] CHECK CONSTRAINT [FK_DailyPrice_Stock]
GO
USE [master]
GO
